<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yafuquen.abril">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SignInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.TopicsActivity"
            android:label="@string/title_activity_topics"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TopicMessagesActivity"
            android:label="@string/title_activity_topic_messages"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
    </application>

</manifest>